@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root{
    --shadow: #000 0 0 1px;
}

body {
    height: 90vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color:  rgb(69, 206, 206);
}

.geral {
    margin-top: 5vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 90vh; 
    background:linear-gradient(#99ffcc, #9999ff);
    color: rgb(29, 74, 85);
    box-shadow: #000 0 0 50px;
    border-radius: 10px;
}

h1 {
    margin-top: 0;
}

input, select{
    margin: 15px 10px 10px 0;
    height: 30px;
    border-radius: 10px;
    border: solid 1px rgb(29, 74, 85);
    outline: none;
    color:rgb(29, 74, 85);
    width: 155px;
}


#name, #email {
    width: 30%;
    box-shadow: var(--shadow);
}

#user {
    width: 12%;
    box-shadow: var(--shadow);
} 

#cpf, #telefone {
    width: 13%;
    box-shadow: var(--shadow);
}

#password {
    box-shadow: var(--shadow);
}

#password::placeholder {
    font-size: 0.8em;
}

#confirm_password {
    box-shadow: var(--shadow);
}

label {
    margin-right: 10px;
    margin-left: 15px;
}

.upload {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn_select {
    height: 30px;
    width: 300px;
    border: solid 1px rgb(41, 108, 124);
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    padding-top: 10px;
    background-color: #fff;
}

.buttons {
    flex-direction: row;
    margin-top: 10px;
}

.salvar,
.voltar,
.btn_select {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: solid 1px rgb(41, 108, 124);
    color: rgb(4, 18, 22);
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
    background-color: #efe;
}

.salvar:hover,
.voltar:hover,
.btn_select:hover {
    background-color: rgb(41, 108, 124);
    color: #fff
}

#exibe {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40%;
    min-height: 80px;
    border:rgb(41, 108, 124) solid 1px;
    border-radius: 10px;
}

.btn_select {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

span.warning {
    font-size: 0.7rem;
    font-weight: normal;
}

.alert {
    top: 15px;
    position: absolute;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    color: #fff;
}

textarea {
    border: solid 1px rgb(41, 108, 124);
    border-radius: 10px;
    margin: 20px 0 10px 0;
    outline: none;
    resize: none;
    padding: 5px;
    width: 100%;
    height: 70%;
    box-shadow: var(--shadow);
}

.textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 80%;
}

select {
    flex-direction: row;
    width: 200px;
    margin-bottom: 20px;
    box-shadow: var(--shadow);
}

.dados_pessoais {
    margin-bottom: 20px;
}

@media (max-width: 1000px){
   label{
       display: none;
   }
   .geral{
       padding: 5px;
   }
   h1{
       margin-top: 35px;
   }
   #name, 
   #user, 
   #email, 
   #password, 
   #confirm_password,
   #cpf,
   #telefone {
       width: 30%;
   }
}